@use 'src/styles/vars';

// Animations
@keyframes JColorationHover {
    from {
        color: transparent;
        -webkit-text-stroke: 1px vars.$grey;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    }

    to {
        color: vars.$JLetter;
        -webkit-text-stroke: 1px vars.$grey;
        -webkit-transform: rotateZ(-375deg);
        -moz-transform: rotateZ(-375deg);
        -ms-transform: rotateZ(-375deg);
        -o-transform: rotateZ(-375deg);
        transform: rotateZ(-375deg);
    }
}

@keyframes OColorationHover {
    from {
        color: transparent;
        -webkit-text-stroke: 1px vars.$grey;
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }

    to {
        color: vars.$OLetter;
        -webkit-text-stroke: 1px vars.$grey;
        -webkit-transform: rotateX(-360deg);
        -moz-transform: rotateX(-360deg);
        -ms-transform: rotateX(-360deg);
        -o-transform: rotateX(-360deg);
        transform: rotateX(-360deg);
    }
}

@keyframes HColorationHover {
    from {
        color: transparent;
        -webkit-text-stroke: 1px vars.$grey;
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }

    to {
        color: vars.$HLetter;
        -webkit-text-stroke: 1px vars.$grey;
        -webkit-transform: rotateZ(-345deg);
        -moz-transform: rotateZ(-345deg);
        -ms-transform: rotateZ(-345deg);
        -o-transform: rotateZ(-345deg);
        transform: rotateZ(-345deg);
    }
}

@keyframes NColorationHover {
    from {
        color: transparent;
        -webkit-text-stroke: 1px vars.$grey;
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }

    to {
        color: vars.$NLetter;
        -webkit-text-stroke: 1px vars.$grey;
        -webkit-transform: rotateZ(-375deg);
        -moz-transform: rotateZ(-375deg);
        -ms-transform: rotateZ(-375deg);
        -o-transform: rotateZ(-375deg);
        transform: rotateZ(-375deg);
    }
}

// Letters's styles
.letterJ {
    transition-duration: 1s;
    -webkit-text-stroke: 2px vars.$JLetter;

    &:hover {
        animation: JColorationHover 1s;
        color: vars.$JLetter;
        -webkit-text-stroke: 1px vars.$grey;
        -webkit-transform: rotateZ(-15deg);
        -moz-transform: rotateZ(-15deg);
        -ms-transform: rotateZ(-15deg);
        -o-transform: rotateZ(-15deg);
        transform: rotateZ(-15deg);
    }

     &.active {
        animation: JColorationHover 1s;
        color: vars.$JLetter;
        -webkit-text-stroke: 1px vars.$grey;
        -webkit-transform: rotateZ(-15deg);
        -moz-transform: rotateZ(-15deg);
        -ms-transform: rotateZ(-15deg);
        -o-transform: rotateZ(-15deg);
        transform: rotateZ(-15deg);
    }
}

.letterO {
    transition-duration: 1s;
    -webkit-text-stroke: 2px vars.$OLetter;

    &:hover {
        animation: OColorationHover 1s;
        color: vars.$OLetter;
        -webkit-text-stroke: 1px vars.$grey;
        -webkit-transform: rotateX(-360deg);
        -moz-transform: rotateX(-360deg);
        -ms-transform: rotateX(-360deg);
        -o-transform: rotateX(-360deg);
        transform: rotateX(-360deg);
    }

    &.active {
        animation: OColorationHover 1s;
        color: vars.$OLetter;
        -webkit-text-stroke: 1px vars.$grey;
        -webkit-transform: rotateX(-360deg);
        -moz-transform: rotateX(-360deg);
        -ms-transform: rotateX(-360deg);
        -o-transform: rotateX(-360deg);
        transform: rotateX(-360deg);
    }
}

.letterH {
    transition-duration: 1s;
    -webkit-text-stroke: 2px vars.$HLetter;

    &:hover {
        animation: HColorationHover 1s;
        color: vars.$HLetter;
        -webkit-text-stroke: 1px vars.$grey;
        -webkit-transform: rotateZ(15deg);
        -moz-transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -o-transform: rotateZ(15deg);
        transform: rotateZ(15deg);
    }
    &.active {
        animation: HColorationHover 1s;
        color: vars.$HLetter;
        -webkit-text-stroke: 1px vars.$grey;
        -webkit-transform: rotateZ(15deg);
        -moz-transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -o-transform: rotateZ(15deg);
        transform: rotateZ(15deg);
    }
}

.letterN {
    transition-duration: 1s;
    -webkit-text-stroke: 2px vars.$NLetter;

    &:hover {
        animation: NColorationHover 1s;
        color: vars.$NLetter;
        -webkit-text-stroke: 1px vars.$grey;
        -webkit-transform: rotateZ(-15deg);
        -moz-transform: rotateZ(-15deg);
        -ms-transform: rotateZ(-15deg);
        -o-transform: rotateZ(-15deg);
        transform: rotateZ(-15deg);
    }

    &.active {
        animation: NColorationHover 1s;
        color: vars.$NLetter;
        -webkit-text-stroke: 1px vars.$grey;
        -webkit-transform: rotateZ(-15deg);
        -moz-transform: rotateZ(-15deg);
        -ms-transform: rotateZ(-15deg);
        -o-transform: rotateZ(-15deg);
        transform: rotateZ(-15deg);
    }
}