// LETTERS COLORS
$JLetter: #e69512;
$OLetter: #0da30d;
$HLetter: #1231bd;
$NLetter: #6111e2;

// BUTTONS COLORS
$GButton: #1a641a;
$FButton: #630707;
$RButton: rgb(158, 105, 7);

// OTHER COLORS
$grey: rgb(194, 194, 194);

// FONTS
$Belle: 'La Belle Aurore', cursive;
$Allison: 'Allison', cursive;
$Poppins: 'Poppins', sans-serif;