@use 'reset';
@use 'vars';

body {
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(56,56,56) 0px, rgb(56,56,56) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
}

#root {
  width: 100vw;
  min-height: 100vh;
  display : flex;
  justify-content: space-between;
  overflow: hidden;

  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 1rem;
    font-size: 12rem;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 1px rgb(194, 194, 194);
  }

  main {
    border: green 1px solid;
    width: 100%;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 1rem;
  }
}

@media screen and (max-width: 1000px) {
  #root {
    flex-direction: column;

    header, ~ * {
      flex-direction: row;
      font-size: 10rem;
    }

    footer {
      flex-direction: row;
    }
  }
}

@media screen and (max-width: 700px) {
  #root {
    header, ~ * {
      font-size: 8rem;
    }
  }
}

@media screen and (max-width: 400px) {
  #root {
    header, ~ * {
      font-size: 6rem;
    }
  }
}

@media screen and (max-width: 300px) {
  #root {
    header, ~ * {
      font-size: 4rem;
    }
  }
}